@tailwind base;
@tailwind components;
@tailwind utilities;
 


body{
  height: 100vh;
  width: 100vw;  
   overflow-x: hidden;
  color: #717171;
}
 
  #root { 
    height: 100vh;
    width: 100vw;
  }
 
   
.card{
  @apply rounded shadow flex-col items-center text-center mx-16 my-6 py-6
}

.card-title{
  @apply text-grey-40 text-2xl font-bold my-2
}
.card-description{
  @apply text-grey-30  text-sm
}
.card-img{ 
 @apply  align-middle flex justify-center
}
.card-content{
  @apply mx-6
}